@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.div-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
  background-color: #292e3a;
  background: center / cover no-repeat url("assets/abstract-world.jpg");
}

.div-content-wrapper {
  height: 80vh;
  width: 550px;
  padding: 1em 2em;
  border-radius: 10px;
  margin-left: 6em;
}

.section-weatherImage {
  text-align: center;
  color: white;
}

.section-weatherImage > img {
  height: 250px;
}

.p-temperature {
  font-size: 6.5em;
  font-weight: 500;
  margin-top: -20px;
}

.p-cityName {
  font-size: 2.2em;
  font-weight: 500;
  margin-bottom: 1.5em;
}

.section-weatherData {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.section-weatherData > div {
  height: 10em;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.section-weatherData > div > img {
  margin-bottom: 10px;
}

.section-weatherData > div > p:first-of-type {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

.p-results {
  font-size: 1.7em;
  font-weight: bold;
  margin-top: 0.5em;
}

.section-cityDropdown {
  margin-top: 2em;
  text-align: center;
}

select {
  width: 250px;
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

select:focus {
  outline: none;
}
